<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd">

	<context:component-scan base-package="com.tata.spring.ws" />
	<sws:annotation-driven/>

	<bean id="empdetails" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true" />
                <property name="xsds">
                    <list>
                        <value>classpath:xsd/emp_details.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="EmployeeDetailsService"/>
        <property name="serviceName" value="EmployeeDetailsServices" />
        <property name="locationUri" value="/getEmployeeDetails/1.1"/>
    </bean>
</beans>